<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/layout}">

<body id="page-top">
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">자유게시판</h1>

			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">글쓰기</h6>
				</div>
				<div class="card-body">
					<form role="form" id="insertForm" action="/generalForum/save"
						method="post">
						<div class="form-group">
							<label>제목</label> <input class="form-control" name="title">
						</div>
						<div class="form-group">
							<label>내용</label>
							<textarea class="form-control" rows="3" name="content"></textarea>
						</div>
						<div class="form-group">
							<label>작성자</label>
							<p class="form-control" th:text="${writer}" id = "writer"></p>
               				<input type="hidden" name="writer" class="form-control" id="inputwriter" th:value="${writer}">
						</div>
						<button type="button" class="btn"
							onclick="history.back()">취소</button>
						<button type="submit" class="btn">작성</button>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>